body{
    margin:0;
    height: 100%;
    width: 100%;
}

#cabecalho{
    background-color: #00923f; 
    height: 80px;
    margin: 0;
    padding: 0;
}

ul.menu {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
}

.item-menu{
    line-height: 80px;
    vertical-align: middle;
}

/* logo que fica centralizado no menu do site*/
img.logo {
    margin: 0 auto;
    display: block;
    height: 125px;
    width: 125px;
}

/*hover para indicar a pata de animal ao passar por cima*/
.item-menu:hover {
    background-color: limegreen;
    background-image: url("imagens/hover.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.item-menu a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.carousel{
    width: 80%;
    margin: 5% 10%;
}

.rodape {
    position:relative;
    bottom: 0;
    height: 150px;
    background-color: #00923f;
    width:100%;
}   

#fale-conosco{
    height: 5%;
    width: 100%;
    vertical-align: middle; 
}
.carousel-inner > .item > img {
    position:relative;
    min-width: 100%;
    height: 5%;
}


.col-sm-12 {
    width:auto;
    font-size: 20px;
    background-color: #E8E8E8;
    padding: 20px;
}

#mapa{
    height: 400px; 
    width: 40%;
    margin: 50px;
}

#metadedosite{
    height: 50%;
    width: 50%;
    background-color: whitesmoke;
}


/* estava dando erro */
.dropbtn {
    background-color: #00923f;
    color: white;
    border: none;
    background: none;
    text-align: center;
}

/* sombra atras da caixa dos links*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00923f;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    height:60px;
}

/*o hover abaixo e dos links do dropdown, nao precisa mexer*/
.dropdown-content a:hover{
    background-color: limegreen;
    background-image: url("imagens/hover.png");
    background-repeat: no-repeat;
    background-size: 30px;
    text-decoration: none;
    color: white;
    background-position: right bottom;
}

.dropdown:hover .dropdown-content {
    display:block;
}


.dropdown:hover .dropbtn {
    text-decoration: none;
    width: 100%;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}
h3 {
    position: relative;
    left: 50%;
    bottom: 0;
    width: 50%;
}
#informacoes{
    background-color:#E8E8E8;
    margin-right: 50px; 
    float: right;
    margin: 50px;
    width:600px;
    height:450px; 
}   

 
  
    
