body{
    margin:0;
    padding: 0;
}

#cabecalho{
   background-color: #00923f; 
   height: 80px;
}

ul.menu {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
}

.item-menu{
    line-height: 80px;
    vertical-align: middle;
}

img.logo {
    margin: 0 auto;
    display: block;
    height: 125px;
    width: 125px;
}

.item-menu:hover {
   background-color: limegreen;
   background-image: url("imagens/hover.png");
   background-repeat: no-repeat;
   background-position: right bottom;
}

.item-menu a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.rodape {
    position:relative;
    bottom: 0;
    height: 15%;
    background-color: #00923f;
    width:100%;
}   

#fale-conosco{
 height: 5%;
 width: 100%;
 vertical-align: middle; 
}