body{
    margin:0;
    height: 100%;
    width: 100%;
}

#cabecalho{
    background-color: #00923f; 
    height: 80px;
    margin: 0;
    padding: 0;
}

ul.menu {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
}

.item-menu{
    line-height: 80px;
    vertical-align: middle;
}

/* logo que fica centralizado no menu do site*/
img.logo {
    margin: 0 auto;
    display: block;
    height: 125px;
    width: 125px;
}

/*hover para indicar a pata de animal ao passar por cima*/
.item-menu:hover {
    background-color: limegreen;
    background-image: url("imagens/hover.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right bottom;
    text-decoration: none;
    color:black;
    display: block;
    font-family: times new roman;

}

.item-menu a {
    font-family: times new roman;
    font-size: 19px;
    display: block;
    text-align: center;
}

.carousel{
    width: 80%;
    margin: 5% 10%;
}

.rodape {
    position: inherit;
    background-color: #00923f;
    width:100%;
}   

#fale-conosco{
    height: 5%;
    width: 100%;
    vertical-align: middle; 
}
.carousel-inner > .item > img {
    position:relative;
    min-width: 100%;
    height: 5%;
}


.col-sm-12 {
    width:auto;
    font-size: 20px;
    background-color: #E8E8E8;
    padding: 20px;
}

#mapa{
    height: 400px; 
    width: 40%;
    margin: 50px;
}

#metadedosite{
    height: 50%;
    width: 50%;
    background-color: whitesmoke;
}


/* estava dando erro */
.dropbtn {
    background-color: #00923f;
    color: white;
    border: none;
    background: none;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    vertical-align: middle;
    display: block;
    font-family: times new roman;
}

/* sombra atras da caixa dos links*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00923f;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    height:60px;
}

/*o hover abaixo e dos links do dropdown*/
.dropdown-content a:hover{
    background-color: limegreen;
    background-image: url("imagens/hover.png");
    background-repeat: no-repeat;
    background-size: 20px;
    text-decoration: none;
    color: black;
    background-position: right bottom;
}

.dropdown:hover .dropdown-content {
    display:block; 
}


.dropdown:hover .dropbtn {
    text-decoration: none;
    width: 100%;
    color:black;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}
h3 {
    position: relative;
    left: 50%;
    bottom: 0;
    width: 50%;
}
#informacoes{
    float: right;
    margin: 5%;
    width:42%;
    height:100%; 
}

/*efeito webkit*/
.grid-line{
    width: 100px;
    height: 100px;
    margin-left: 15%;
}

.grid-line .col-md-1{
    height: 100px;
    -webkit-transition: .6s ease-in-out;
    width: 100px;
    margin:auto;
    background-color: #f5f5f5;
    border: 1px dotted #999;
}


#quadrado{
    height: 100%;
    width: 100%;
    -webkit-transition: .6s ease-in-out;
}

#texto{
    height: 100%;
    width: 200%;
    margin-left: 100px;
    padding-right: 2%;
    text-align: center;
    border: 1px dotted #999;
}

.grid-line:hover .col-md-1{
    background-color: black;
}

#texto p{
    margin-top: 5%;
}
/*   acaba aqui   */


.main{
width: auto;
margin-right: 20%;
margin-left: 20%;
height: 100%;
width: 60%;
z-index: -1;
}

.conteudo{
    margin-top: 10%;
    text-align: justify;
}

.conteudo .gallery{
    margin-left: 9%;
}