div.gallery {
    margin-right: 7%;
    margin-bottom: 5%;
    float: left;
    width: 20%;
}

div.gallery img:hover {
    border: 1.6px solid #777;
    width: 100%;
    height: 250px;
}

div.gallery img {
    width: 100%;
    height: 250px;  
}

div.desc {
    text-align: center;
}

#galeriaservicos{
    margin-left: 20%;
}