.gallery img{
    float: left;  
    width: 20%;
    margin-left: 2%;
    margin-right: 5%;
    background-size: cover;
}

.gallery{
    margin: 0;
    padding: 0;
}


html, body {
    min-height: 100%;
}

#tudo {
    min-height: 100%;
    position: relative;
}

* html #tudo {
    height: 100%; /* hack para IE6 que trata height como min-height */
}
